
  <h3><%= @tweet.content %></h3>

  <form action='/tweets/:id' method="post">
    <input id="hidden" type="hidden" name="_method" value="patch">
    Content:
    <input type="text" name="content"><br>
    Change Your Tweet:

    <input type="submit" name="submit" id="submit">

  </form>
