<h1>Edit <%=current_user.username%>'s Tweet</h1><br>

<form action='/tweets/<%=@tweet.id%>' method='post'>
  <input id="hidden" type="hidden" name="_method" value="patch">
  <input type='text' name='content' value='<%=@tweet.content%>'>
  <input type='submit' value='submit'>
</form>