<h1>Welcome, <%= @user.username %></h1>
<% @tweets.each do |tweet| %>
<h2><a href="/tweets/<%= tweet.id %>"><%= tweet.content %></a></h2>
<% end %>

<<<<<<< HEAD

=======
<a href="/logout">Logout</a>
>>>>>>> 887d4fab84f5837f16d16b1b0b21ca4c82df4b53
