<h1> Please Sign Up!</h1>
<form method="POST" action='/signup'>
  Username: <input type="text" id='username' name='username'>
  Email: <input type='text' id='email' name='email'>
  Password: <input type='text' id='password' name='password'>
  <input type="submit" value = 'Submit'>
</form>